.breadcrumbs {
  padding: 33px 0 0 25px;
}

.breadcrumbs li {
  list-style: none;
  display: inline-block;
  /* margin: 47px 0 50px 10px; */
  margin-top: 10px;
  i {
    margin-right: 5px;
  }
  a {
    text-decoration: underline;
    padding-bottom: 2px;
  }
}

.breadcrumbs li:not(:last-child):after {
  content: '>';
  margin: 0 8px 0 13px;
}
@media (min-width: 1200px) {
  .breadcrumbs {
    padding: 33px 0 0 10px;
    margin-bottom: 0;
  }
}

  .breadcrumbs_left {
    padding-left: 35px!important;
    padding-right: 20px;
    padding-left: 35px !important;
    padding-right: 20px;
    max-width: 1366px;
    margin: 0 auto;
  }
