.circle {
	@include border-radius(8px);
	border:1px solid $cat_color*1.3;
	color: $cat_color;
	padding: 2px 0;
	display: inline-block;
	width: 30px;
	text-align: center;
	&:hover {
		color:$red;
	}
}
.active_circle {
	background:none;
	color:$red;
	border:1px solid $red;

}
.btn-primary {
	background: $red!important;
	color: white!important;
	border-color:$red!important;
	text-shadow: 0 0px 0!important;
	box-shadow: none!important;
	i {
  		@include transition(all 0.1s cubic-bezier(0.46, 0.03, 0.52, 0.96));
	}
	&:hover i {
		// font-size: 16px;
	}
	
}
.btn-default {
	background: rgba(0,0,0,0)!important;
	color: $text_grey!important;
	text-shadow: 0 0px 0!important;
	box-shadow: none!important;
	&:hover {
		background: rgba(0,0,0,0.2);
	}
}

.btn {
	@include border-radius(50px);
	font-size: 14px!important;
}

.close_window {
	top:0px;
	left: 0px;
	float: left;
	color: $grey;
	z-index: 3;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
}
