@import 'fonts';
@import 'var';
@import 'mixins';
@import 'bootstrap_changes';
@import 'buttons';
@import 'elements';
@import 'menu';
@import 'typography';
@import 'footer';

html, body {
	padding: 0;
	min-height: 100%;
}
html {
	position: relative;
	min-height: 100%;
}
.main_wrapper {

}
.wrapper {
    //@include transition(0.3s);
}

body {
	margin:0 auto;
	padding:0;
}
.nav_cover {
	background: url("../img/bg.jpg")50% 50%;
	padding: 20px 15px 8px 15px;
	text-align: center;
	color: white;
	max-height: 800px;
	height: 100%;
	position: relative;
	z-index:2;
	.nav_line {
		max-width: 1366px;
		margin: 0 auto;
		position: relative;
	}
}
.main_wrapper {
	width: 100%;
	background: white;
}

.main {
	max-width: 1366px;
	margin: 0 auto;
	padding: 40px 20px;
}


@media (min-width: 1200px) {
	.pre_header_container {
		.pre_header {
			text-align: left;
		}
	}
}
.events {
	padding-bottom: 30px;
}
.contact_form {
	padding: 20px!important;
}

.page3 {
	padding: 20px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.02);
	.down_cont {
		color:$text_grey;
	}
	.ev {
		padding: 20px!important;
	}
	.index_events_image {
		img {
			width: 100%!important;
		}
	}
}
