@import 'fonts';
@import 'var';
@import 'mixins';
@import 'bootstrap_changes';
@import 'buttons';
@import 'elements';
@import 'menu';
@import 'typography';
@import 'left_block';
@import 'footer';

html, body {
	padding: 0;
	min-height: 100%;
}
html {
	position: relative;
	min-height: 100%;
}
.main_wrapper {

}
.wrapper {
    //@include transition(0.3s);
}

.events {
	padding-bottom: 30px;
}
.contact_form {
	padding: 20px!important;
}

.page3 {
	padding: 20px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.02);
	.down_cont {
		color:$text_grey;
	}
	.ev {
		padding: 20px!important;
	}
	.index_events_image {
		img {
			width: 100%!important;
		}
	}
}
