.window {
  padding-top: 20px;
  @include transition(.4s);
  .inside_window {
    margin-top: 55px;
  }
  .close_window {
    top: 25px;
    left: 0;
    position: absolute;
    @include transform(-100%, 0);
    @include transition(0.6s);
    color: $grey;
    z-index: 3;
    padding: 12px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 1;
    @include border-radius(5px);
  }
  .window_header {
    color: $grey;
    left: 0;
    @include transition(0.6s);
    top: 7px;
    @include transform(-100%, 0);
    position: absolute;
    font-size: 30px;
  }
}
.show {
  .close_window {
    @include transform(15px, 0);
  }
  .window_header {
    font-weight: 100;
    @include transform(75px, 0);
  }
}

.button {
  a, span {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  i {
    margin-left: 15px;
  }
  border: none;
  font-size: 12px;
  background: $blue;
  display: inline-block;
  @include border-radius(25px);
  &:hover {
    background: $dark_blue;
  }
  &:active {
    background: $dark_blue;
    margin-top: 1px;
    @include box-shadow(0px, 3px, 4px, 0px, rgba(0,0,0,0.4), true);
  }
}

.va {
  vertical-align: middle;
  display: inline-block;
}

/* SOCIALS */
.socials {
  a {
    padding: 8px;
    text-decoration: none;
  }
  display: block;
}

input[type='button'] {
  @extend .btn;
  @extend .btn-primary;
  @extend .button;
  padding: 6px 12px;
  outline: none;
  border: none;
}
.download {
  position: relative;
  input[type='button'] {
  padding-right: 40px!important;
  }
}
.download:after {
  content: "\f019";
  font-family: 'FontAwesome';
  position: absolute;
  line-height: 100%;
  right: 18px;
  color:white;
  top: 2px;
}