.left {
  padding: 20px;
  margin-bottom: 30px;
}
.left_block {
  background: $blue;
  @include border-radius(15px);
  color: white;
  padding: 20px;

  .h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
  p {
    margin:0;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .left {
    padding-right: 35px;
  }
}
.main_left {
  padding-top: 0;
}