@mixin border-radius($radius) {
	-webkit-border-radius: $radius!important;
	-moz-border-radius: $radius!important;
	-ms-border-radius: $radius!important;
	border-radius: $radius!important;
}
/*				SCREEN 							*/
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
@mixin text-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}
@mixin hcenter {
      -webkit-transform: translateX(-50%) translateY(0);
      -moz-transform: translateX(-50%) translateY(0);
      -ms-transform: translateX(-50%) translateY(0);
      -o-transform: translateX(-50%) translateY(0);
      transform: translateX(-50%) translateY(0);
}

@mixin vcenter {
      -webkit-transform: translateX(0) translateY(-50%);
      -moz-transform: translateX(0) translateY(-50%);
      -ms-transform: translateX(0) translateY(-50%);
      -o-transform: translateX(0) translateY(-50%);
      transform: translateX(0) translateY(-50%);
}