.news_item_content, .news_item_image {
  margin-bottom: 20px;
}
.news {
  .news_item {
    box-sizing: border-box;
    .news_item_event_date {
      font-size: 12px;
      color: $grey;
      margin-bottom: 10px;
      span {
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
  hr {
    border-top: 1px dashed $light_grey;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .news_item_content {
    .news_item_title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      display: inline-block;
    }
    .news_item_public_date {
      color: $light_grey;
      font-size: 12px;
    }
  }
  margin-bottom: 40px;
}

.slider .download_photo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
}