$grey: #333;
$blue: #4865a7;
// $orange: #EBBD29;
$red: #DF4545;
$bg_color: #fbfbfb;
$text_grey: #747474;
$light_grey: #c4c4c4;
$text_yellow: #ffa913;
$footer_back: #ebebeb;
$footer_text_color: #7f7f7f;
$main_grey: #494949;
$cat_color: #989898;
$dark_blue: #607d8b;
$admin_green: #9FD468;
$green: #74bf74;
$admindark: #222d32;
// 74bf74

