$grey: #333;
$blue: #4866a7;
$light_grey: #bababa;
$dark_blue: #33539a;
$dark: #2c2b2f;
$black: #1d1c1f;
$light_blue: #8abedc;
$green: #9bcc86;
$greengrey: #767c6b;
// $orange: #EBBD29;
$red: #DF4545;
$bg_color: #fbfbfb;
$text_grey: #747474;
//$light_grey: #c4c4c4;
$cat_color: #989898;

